extends _layout

block subpage_data
	- dp.page.title = "Home"
	- dp.page.slug = "home"
	- dp.page.class = "site-page--home"
	- dp.page.description = "Dopamine is a lightweight Node app to ease sitebuilding with modular Jade templates and Stylus"
	- dp.page.keywords = "dopamine,sitebuild,jade,stylus"


block subpage_styles

block subpage_scripts

block content
	h1 Content
	//p=blah

	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		strong
			strong me

		img(src='http://placekitten.com/g/344/234')

		span asdfasdf ad f
