body.l-404
	background-position center -190px

.l-404

	.l-404-content
		border 0px solid
		width 80%
		margin 200px auto 100px
		text-align center
		color #464646

		img
			margin-bottom 10px

		h3
			font-os-bold()
			font-size 21px
			margin-bottom 20px

		hr.dash
			border 0
			width 86px
			height 3px
			background #464646
			margin-bottom 20px

		h4
			font-serif()
			font-size 36px
			color COLOR_GOLDEN
			uppercase()
			margin-bottom 17px

		p
			font-serif()
			font-style italic
			font-size 21px
			padding-bottom 4px

		a.m-button
			margin 26px auto 30px


