//- ------------------------------------------------
//- Old IEs warning
//- http://jsbin.com/eMoliPa/latest/edit
//- ------------------------------------------------
mixin dp_snippets_oldies()
	//if lt IE 8
		p(class='m-dopamine m-dopamine-oldies') You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.


mixin dp_snippets_google_analytics(_UA)
	// Google Analytics
	script
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','#{_UA}');ga('send','pageview');
