//- ------------------------------------------------
//- Old IEs warning
//- http://jsbin.com/eMoliPa/latest/edit
//- ------------------------------------------------
mixin dp_snippets_oldies()
	//if lt IE 8
		p(class='m-dopamine m-dopamine-oldies') You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
