@import "../node_modules/nib/lib/nib/index.styl"

@import "helpers"
@import "mixins"
//@import "base/reset"

/* VARIABLES
*************************************/

COLOR_GOLDEN = #967a54

/* FONTS
*************************************/

//@import "site/fonts"
//@import "site/icons"

/* LAYOUT
*************************************/

@import "layout/layout-common"
//@import "layout/layout-header"
//@import "layout/layout-footer"

//@import "layout/layout-homepage"
//@import "layout/layout-static"
//@import "layout/layout-contact"
//@import "layout/layout-404"

/* MODULES
*************************************/
//@import "modules/m-contentblock"
//@import "modules/m-salon"
//@import "modules/m-buttons"

/* DEFAULTS
*************************************/



/* DEBUG
*************************************/
div
	outline 1px solid #eee
