/*size(width, height)
	width width
	height height
*/
f()
	font-size arguments


uppercase()
	text-transform uppercase

capitalize()
	text-transform capitalize

normalcase()
	text-transform none


normal()
	font-style normal

italic()
	font-style italic

inlineblock()
	display: inline-block;
	zoom: 1;
	*display: inline;



pseudo-block()
	display block
	content ""
	position relative


pie()
	behavior url(/themes/hairtrend/assets/css/PIE/PIE.php);

.pie
	pie()

/*
border()
	border
		*/