extends layout

block subpage_data
	- dp.page.title = "Home"
	- dp.page.slug = "home"
	- dp.page.class = "page-home l-default l-home"
	- dp.page.description = "Dopamine is a lightweight Node app to ease sitebuilding with modular Jade templates and Stylus"
	- dp.page.keywords = "dopamine,sitebuild,jade,stylus"


block subpage_styles

block subpage_scripts

block content
	h1 Content
	//p=blah
