extends layout

block subpage_data
	//- var dp = { page: {} }
	- dp.page.title = "Home"
	- dp.page.slug = "home"
	- dp.page.class = "page-home l-default l-home"


block subpage_styles

block subpage_scripts

block content
	h1 Content
	//p=blah
