//- IMPORTS
block subpage_data

//- LAYOUT
!!! 5
html
	head
		// META
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')

		title= dp.page.title + ' | ' + 'Dopamine'

		// FAVICONS
		link(rel='shortcut icon',href='images/favicon.ico',type='image/x-icon')
		link(rel='apple-touch-icon',href='images/apple-touch-icon.png')


		//if lt IE 9
			script(src='js/vendor/html5shiv.js')

		// CSS - Please do not touch main.css as it is a compiled file
		link(rel='stylesheet', href='css/main.css')

		// CSS - Subpage specific styles
		block subpage_styles

	body(class=dp.page.class)

		h1 [CONTENT]
		// PAGE-CONTENT -------------------------
		block content
		// END OF PAGE-CONTENT -------------------------


		// FOOTER
		footer
			h1 [FOOTER]


	// General scripts
	block scripts
		script(src="js/vendor/jquery.min.js")

	// Subpage specific scripts
	block subpage_scripts

