//- IMPORTS
block subpage_data
include dopamine/head
include dopamine/snippets

//- LAYOUT
!!! 5
html(class='no-js')
	head

		+dp_head_meta_charset()
		+dp_head_meta_chromeframe()
		+dp_head_title(dp.page.title, dp.project.name)
		+dp_head_meta_description(dp.page.description)
		+dp_head_meta_viewport()

		//- Comment out if you have these files in site's root folder
		+dp_head_favicon('ico','images/favicons/favicon.ico')
		+dp_head_favicon('apple-touch-icon-precomposed','images/favicons/apple-touch-icon.png', '152x152')
		+dp_head_favicon('ms-application','images/favicons/apple-touch-icon.png', '#FFFFFF')


		// CSS - Please do not touch main.css as it is a compiled file
		link(rel='stylesheet', href='css/main.css')

		// CSS - Subpage specific styles
		block subpage_styles

	body(class=dp.page.class)

		+dp_snippets_oldies()

		h1 [CONTENT]
		// PAGE-CONTENT -------------------------
		block content
		// END OF PAGE-CONTENT -------------------------


		// FOOTER
		footer
			h1 [FOOTER]


	// General scripts
	block scripts
		script(src="js/vendor/jquery.min.js")

	// Subpage specific scripts
	block subpage_scripts

