body{
	font-family: $fontDefault;
	font-size: 16px;
	line-height: 20px;
	color: $color_p;
	vertical-align: middle;

	background: white;
}


.l-common__wrapper{
	max-width: 970px;
	//outline: 1px solid red;
	margin: 0 auto;
}

