.m-logo{
	h1{
		position: absolute;
		left: -9999px;
		top: 0px;
	}

	a{
		display: block;
		width: 309px;
		height: 258px;
		margin: 0 auto;
		background: url(../images/logo-cern60.png) no-repeat center;
	}
}
