// .f-l{ float: left;}
// .f-r{ float: right;}

// .c-l{ clear: left;}
// .c-r{ clear: right;}

// .ta-left{text-align: left;}
// .ta-right{text-align: right;}
// .ta-center{text-align: center;}

.is-hidden{display: none;}


/* Text Colors
 *************************************/
// .tc_H1{ color: $colorGrayLight;}
// .tc_H2{ color: $colorBlue;}
// .tc_p{  color: $colorEgg;}
// .tc_p1{ color: $colorBlue;}

// .p20{ padding: 20px; }

// .pt20{ padding-top: 20px; }
// .pt30{ padding-top: 30px; }
// .pt40{ padding-top: 40px; }

// .pr20{ padding-right: 20px; }
// .pr30{ padding-right: 30px; }
// .pr40{ padding-right: 40px; }

// .pb20{ padding-bottom: 20px; }
// .pb30{ padding-bottom: 30px; }
// .pb40{ padding-bottom: 40px; }
// .pb40{ padding-bottom: 40px; }
// .pb60{ padding-bottom: 60px; }


// .mb20{ margin-bottom: 20px; }
// .mr20{ margin-right: 20px; }
// .mt20{ margin-top: 20px; }

// .padside15{ padding-left: 15px; padding-right: 15px; }

// .borderleft{border-left: 1px solid $colorGrayLighter;}
// .borderright{border-right: 1px solid $colorGrayLighter;}
// .borderbottom{border-bottom: 1px solid $colorGrayLighter;}