// Fonts
$fontDefault: Arial, Helvetica, sans-serif;
$fontFontello: fontello;

// Colors
$colorBlue: #0085CE;
$colorBlueDarker: #00539F;
$colorGray: #3F3F3F;
// $colorGreen: #2c3a41;
// $colorBlue: #c9e9ff;
// $colorEgg: #e0e0e0;
// $colorGrayLight: #999b93;
// $colorGrayDark: #64666a;

$color_H1: $colorBlue;
$color_H2: $colorBlue;
$color_p: $colorGray;

